.row
  .col-md-6
    .form-group
      %label Name:
      = project.name
  .col-md-6
    .form-group
      %label Start Date:
      = project.start_date
.row
  .col-md-6
    .form-group
      %label End Date:
      = project.end_date
  .col-md-6
    .form-group
      %label Description:
      = project.description
.row
  .col-md-6
    .form-group
      %label Status:
      = project.status
  .col-md-6
    .form-group
      %label Codeclimate:
      = project.codeclimate_url
