.row
  .col-md-2
  .col-md-8
    .custom-alert
    = render 'office_automation_employee/shared/flash'
    .panel.panel-default
      .panel-heading
        %strong= @project.name + " project's profile"
      .panel-body
        .container-fluid
          = simple_nested_form_for(@project, url: office_automation_project.company_project_path, input_html: { role: :form } ) do |f|
            = render partial: 'office_automation_project/projects/project', locals: {f: f}
            .form-group= f.submit class: "btn btn-primary"





