.modal-fade.modal-dialog.modal-content.modal-header.modal_show
  %button.close{data: {dismiss: "modal"}}
  .modal-body
    .form-group
      .row
        .col-md-6
          .form-group
            %label Name:
            = @contact_person.name
        .col-md-6
          .form-group
            %label Primary Email ID:
            = @contact_person.primary_email_id
      .row
        .col-md-6
          .form-group
            %label Secondary Email ID:
            = @contact_person.secondary_email_id
        .col-md-6
          .form-group
            %label Phone Number:
            = @contact_person.phone_no
      .row
        .col-md-6
          .form-group
            %label Address: 
            = @contact_person.address
        .col-md-6
          .form-group
            %label Skype ID:
            = @contact_person.skype_id
      .row
        .col-md-6
          %label Linkedin ID:
          = @contact_person.linkedin_id
        .col-md-6
          %label Twitter ID:
          = @contact_person.twitter_id

